{% load static%}
<div id="about" class="about">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Venha nos <strong class="white black">conhecer</strong></h2>
                     <p>Está cansado de perder no amor? <br> Que tal tentar ganhar no jogo? <br> Aqui você pode! </p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="about-box">
                     <figure><img src="{% static 'images/about1.jpg' %}" alt="#" /></figure>
                     <h3>Dicas Básicas</h3>
                     <p>Se você quer jogar, mas não sabe como jogar, não se preocupe!<br>Nossa equipe está disponível para ajudar 24 horas por dia!<br>Clique em saiba mais e já comece a apostar!</p>
                  </div>
                  <a class="read_more" href="#">Saiba mais</a>
               </div>
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="about-box">
                     <figure><img src="{% static 'images/about2.jpg' %}" alt="#" /></figure>
                     <h3> Nosso Cassino</h3>
                     <p>Com um jeito dinâmico e super prático, aqui você encontra os jogos ideais para você.<br>Com a gente você ganha dinheiro real se divertindo.<br>Clique em saiba mais e se torne um mestre dos games!</p>
                  </div>
                  <a class="read_more" href="#">Saiba mais</a>
               </div>
            </div>
         </div>
      </div>