{% extends 'base.html' %}
{% load static%}
{% block content%}
      <!-- about  -->
         {% include 'about.html' %}
      <!-- end abouts -->
      <!-- Features -->
         {% include 'features.html' %}
      <!-- end Features -->
      <!-- We are -->
         {% include 'weare.html' %}
      <!-- end We are -->
      <!-- contact -->
         {% include 'contact.html' %}
      <!-- end contact -->
      <!-- end clients -->
      <!-- map -->
        {% include 'map.html' %}
      <!-- end map -->
      <!--  footer -->
        {% include 'footer.html' %}
      <!-- end footer -->
    {% endblock %}
